*{
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
}
/* Work sans font from googl */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul{
  display: flex;
}
nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
}
nav li a{
   text-decoration: none;
   color: black;
}
.nav-title{
  font-size: 2.8rem;
}
.banner-title{
  text-align: center;
}
.banner-des{
  text-align: center;
}

/* banner container */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}
.banner-des{
  color: black;
}
.btn-primary{
  width: 160px;
height: 55px;
  border-radius: 8px;
  background: #FF900E;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: white;
}
.banner img{
  width: 100%;
  margin-top: 20px;
}
main{
  max-width: 1440px;
  margin: 70px auto;
}
.span{
  color: #FF900E;
  font-weight: 700;
}
.team-container{
  display: flex;
  align-items: center;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
  border-radius: 5px;
}
.team-detaile{
   text-align: justify;
   padding-right:70px ;
   padding-left: 70px;
}
.team-title{
  font-size: 45px;
  font-weight: 500;
}
.quick-list{
  color: gray;
}
.team-des{
  color: gray;
  line-height: 20px;
  padding-bottom: 10px;
}
/* Responsive media query */
@media screen and (max-width:576px){
header{
  padding: 20px;
}
nav {
  flex-direction: column;
}
.team-container{
  flex-direction: column;
}
.team-image-container{
  grid-template-columns: 1fr;

}
.team-des{
  padding-left: 10px;
  padding-right: 10px;
}
}

@media screen and (min-width:576px) and (max-width:960px){
  header{
    padding:50px;
  }
  nav , .team-container{
    flex-direction: column;
  }
}